<section class="container treatments training">
  <h1>Application Form</h1>

  <div class="intro-text training-content">
    <p>What We Need From You</p>

    <p>
      We will consider applicants who have experience working in a supportive
      environment with evidence of aptitude and experience in compassionate
      supportive interactions
    </p>

    <p>
      Please also apply if you are a qualified Counsellor, Therapist or
      Clinical/Counselling Psychologist. Alternatively you will be studying
      towards one of the following qualifications:
    </p>

    <p>• Diploma in Counselling</p>

    <p>
      • Degree or Masters in Counselling, Counselling/Clinical Psychology,
      <br />Psychotherapy or Art Therapy
    </p>

    <a
      href="docs/Power_To_Live_Foundation_Volunteer_Counsellor_Application_Form.pdf"
      class="btn border-btn"
      target="_blank"
      >Download Application Form</a
    >
  </div>
</section>
