<section class="banner">
  <div class="container flex">
    <div class="banner-left left-block"></div>

    <div class="banner-right right-block">
      <img src="images/banner-logo.svg" alt="Banner Logo" />
      <h1>Power to Live Supporting <span>MENTAL HEALTH</span></h1>
      <p>
        When people struggle with life alone over a long time, not knowing how
        to help themselves manage emotional pain nor have people around them to
        ask for help, we can end up with chronic stress, trauma, anxiety and
        depression.
      </p>

      <a href="#contact-us" class="btn border-btn">Contact Us</a>
    </div>
  </div>
  <a href="#donation_sec" class="donate"></a>
</section>
