<section id="client" class="container">
  <div class="left-block">
    <h1>Clients</h1>
    <p>
      We struggle more when we feel stuck in pain and out of control. We stay in
      suffering when we don’t know how to help ourselves, don’t know how to ask
      or receive help, or don’t have the support we need around us.
    </p>

    <p>
      If you are struggling with chronic stress, anxiety and depression or are
      living with a traumatic experience, we can help you. We provide a
      <a href="#donation_sec">means-tested therapy service</a>.
    </p>

    <p>
      Our evidence-based psychotherapy help you move your actions towards living
      a meaningful connected life.
    </p>

    <a href="treatments.html" class="btn border-btn">Our Treatments</a>
  </div>
</section>
