<section id="connection_groups" class="container connection-groups">
  <span class="pre-heading">Coming Soon</span>
  <h1>Power to Live <br />Connection Groups</h1>
  <p>
    Power to Live aims to provide a social connection groups to join after
    individual therapy.
  </p>
  <p>
    Membership is also open to people in the community feeling isolated and who
    want to increase their social connection. We affectionately call our social
    connection groups Pow Pods” which will run once a month
    <a href="#events">(See Events)</a>. We will have Pod leaders who will set a
    theme each month to build our connection skills, such as talking about the
    subjects that matter, how to listen deeply and offer support to each other.
    We encourage diversity and difference in our groups, so don’t be shy, Pod
    Leaders are there to help us learn how to understand and bridge differences.
  </p>
</section>
