<section id="donation_sec" class="supportus">
  <div class="donation_block">
    <div class="container add-padding">
      <h1>Look after our Power to Live <br />with donations</h1>

      <p>
        Every £ pound helps to keep our service running to help more people
        learn to look after their psychological wellbeing. One more caring
        person makes the community a better place to be.
      </p>

      <span>The Power to Live Foundation</span>
      <span>CAF Bank</span>
      <span>Sort Code: 40-52-40</span>
      <span>Number: 00032593</span>

      <p>
        <a
          href="//widgets.justgiving.com/Button/Redirect?p=eyJJZCI6IjcyNzAyZWFjLTRkODQtNGJhNS04OTRmLTJjMDY1M2M2NDQ4NyIsIkNoYXJpdHlJZCI6Mjk0MzQ3MywiU2l6ZSI6ImwiLCJSZWZlcmVuY2UiOiJQMkx3ZWIiLCJUeXBlIjoiRG9uYXRlIn0="
          ><img
            src="//widgets.justgiving.com/Button?p=eyJJZCI6IjcyNzAyZWFjLTRkODQtNGJhNS04OTRmLTJjMDY1M2M2NDQ4NyIsIkNoYXJpdHlJZCI6Mjk0MzQ3MywiU2l6ZSI6ImwiLCJSZWZlcmVuY2UiOiJQMkx3ZWIiLCJUeXBlIjoiRG9uYXRlIn0="
        /></a>
      </p>

      <p>
        Donation of time - if you are caring and compassionate and want to learn
        how to build a caring community by helping our service administratively,
        support social groups or hold fund-raising events
      </p>
    </div>
  </div>
</section>
