<section id="events" class="events">
  <h1>Events</h1>
  <div class="container">
    <p>
      <img
        src="images/livewithacl.gif"
        style="float: left; margin-right: 1em; margin-bottom: 1em"
      />
      Our social connection group has started! Everyone’s welcome!
    </p>
    <p>
      We have joined with
      <a href="https://www.livewithacl.org/what-we-do/" target="_blank"
        >Live with Awareness, Courage and Love Global Project</a
      >
      (ACL) to help people develop the social connections they desire by using
      empirically supported exercises to help us connect to each other with
      Awareness, Courage and Love.
    </p>
    <p>
      In our ACL meetings, we facilitate exercises that allow us to experience,
      practice, and balance these principles in real interactions.
    </p>
    <div class="event">
      <div class="event-content">
        <h2>Seeing and Being Seen</h2>
        <h4>15th June 2021</h4>
        <p>
          <a
            href="https://us02web.zoom.us/meeting/register/tZAucOGhqDgtG9yPCT7iJMlcT40rM_RV-VOq"
            >Register in advance</a
          >
          for this meeting. After registering, you will receive a confirmation
          email containing information about joining the meeting. Any questions,
          please <a href="mailto:social@powertolive.uk">email us</a>.
        </p>
      </div>
    </div>
    <div class="event">
      <div class="event-content">
        <h2>Create Extraordinary Interactions</h2>
        <h4>18th May 2021, 7:30pm to 9pm, London</h4>
        <p>
          <a
            href="https://us02web.zoom.us/meeting/register/tZAucOGhqDgtG9yPCT7iJMlcT40rM_RV-VOq"
            >Register in advance</a
          >
          for this meeting. After registering, you will receive a confirmation
          email containing information about joining the meeting. Any questions,
          please <a href="mailto:social@powertolive.uk">email us</a>.
        </p>
      </div>
    </div>
  </div>
</section>
