<header>
  <div class="container">
    <div class="header-left">
      <a href="index.html" class="logo"
        ><img src="images/logo.svg" alt="Logo"
      /></a>
    </div>
    <div class="header-right">
      <div class="top-header">
        <ul class="header-icon">
          <li class="email"><a href="mailto:info@powertolive.uk"></a></li>
          <li class="phone"><a href="tel:0208 361 3219"></a></li>
          <li class="location">
            <a href="https://goo.gl/maps/REG9MViACtDs3UnW6" target="_blank"></a>
          </li>
        </ul>
        <ul class="top-right">
          <li>
            <a href="mailto:info@powertolive.uk">info@powertolive.uk</a>
          </li>
        </ul>
      </div>

      <div id="site-header-menu">
        <nav class="site-header-menu">
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="index.html#client">Clients</a></li>
            <li><a href="index.html#therapists">Therapists</a></li>
            <li><a href="index.html#events">Events</a></li>
            <li><a href="#donation_sec">Support Us</a></li>
            <li><a href="trustees.html">Trustees</a></li>
            <li class="contact-btn">
              <a href="#contact-us" class="btn">Contact Us</a>
            </li>
          </ul>
        </nav>
        <button class="menu-open menu-close" id="menu">
          <span>toggle menu</span>
        </button>
      </div>
    </div>
  </div>
</header>
