<section class="container">
<p><strong>We will be closed for the festive period between 23rd December 2021 and 5th January 2022.</strong></p>
<p>Please do contact us via our registration form if you’d like to book an assessment in the New Year, and we will endeavour to get back to you during the week of the 5th January 2022.</p>
<p>If you are feeling that you can’t keep yourself safe at the moment, here is a list of where you can get help:</p>
<ul>
  <li>Call 999 (or get someone to call for you) and ask for an ambulance to take you to A&E</li>
  <li>Go to any Accident & Emergency (A&E) department</li>
  <li>Call Samaritans on Freephone 116 123</li>
  <li>Contact MIND on Infoline: 0300 123 3393</li>
  <li>Contact your Mental Health Crisis Resolution and Home Treatment Team (CRHT)</li>
  <li>Contact your GP surgery and ask for an emergency appointment</li>
</ul>
</section>
