<section id="notice" class="container notice">
<p><strong>We will be closed for the festive period between 23rd December 2021 and 5th January 2022.</strong></p>
<p>Please do contact us via our <a href="https://docs.google.com/forms/d/e/1FAIpQLSevRibC0xPUg1CWtgVLAyr1Eu8E3fL-4fhJymcaO1JTd06OSA/viewform">registration form</a> if you’d like to book an assessment in the New Year, and we will endeavour to get back to you during the week of the 5th January 2022.</p>
<p>If you are feeling that you can’t keep yourself safe at the moment, here is a list of where you can get help:</p>
<ul>
  <li>Call <a href="tel:999">999</a> (or get someone to call for you) and ask for an ambulance to take you to A&E.</li>
  <li>Go to any <a href="https://www.mind.org.uk/information-support/guides-to-support-and-services/crisis-services/accident-emergency-ae/">Accident & Emergency</a> (A&E) department.</li>
  <li>Call <a href="https://www.samaritans.org/">Samaritans</a> on Freephone 116 123</li>
  <li>Contact <a href="https://www.mind.org.uk/">MIND</a> on Infoline: 0300 123 3393</li>
  <li>Contact your Mental Health Crisis Resolution and Home Treatment Team (CRHT)</li>
  <li>Contact your GP surgery and ask for an <a href="https://www.mind.org.uk/information-support/guides-to-support-and-services/crisis-services/emergency-gp-appointments/">emergency appointment</a>.</li>
</ul>
</section>
