<section id="terms-popup" class="overlay">
  <div class="popup">
    <div class="popup_head">
      <h1>Access to Patient Information Consent Form</h1>
      <a href="#" class="close-icon"></a>
    </div>
    <div class="popup-content">
      <p>
        Your privacy is important to us, and we would like to communicate with
        you in a manner that is in line with UK law on data protection. As a
        result of a change in UK law, we need your consent in order for us to
        contact you and hold information about you. Information we might hold
        about you includes the following:
      </p>

      <ul>
        <li>
          Personal details such as: name, address, telephone numbers, email,
          date of birth, signature, bank details, insurance details, referring
          GP or psychiatrist details.
        </li>
      </ul>

      <p>
        This Psychology Practice collects the above type of information for the
        primary purpose of providing quality health care. By signing this form
        you are confirming that you are consenting to Power to Live Foundation
        Ltd holding and processing your personal data for the following
        purposes:
      </p>

      <ul>
        <li>
          Communicating with you via telephone, SMS, email or letter for the
          purposes of your therapy or invoicing for your therapy. We use client
          management software for this purpose:
          <a
            href="https://bac-pac.co.uk/security/"
            rel="nofollow noreferrer noopener"
            target="_blank"
            >https://bac-pac.co.uk/security/</a
          >
        </li>

        <li>
          Communicating with your referring GP or psychiatrist or insurer for
          the purposes of your therapy; assessment and treatment purposes.
        </li>

        <li>
          If we are concerned for your safety or identify any risk to yourself
          or others at any time during your treatment, we may contact your GP or
          other relevant services as we would have a duty of care to do so.
          Where possible the reasons for this would be discussed with you, but
          this may not always be possible.
        </li>

        <li>
          ank details for the purpose of invoicing you for your therapy. We use
          Sage and iZettle for recording and processing of financial
          transactions. Please view their privacy policies here:
          <a
            href="https://www.sage.com/company/privacy-notice-and-cookies"
            rel="nofollow noreferrer noopener"
            target="_blank"
            >https://www.sage.com/company/privacy-notice-and-cookies</a
          >
          and
          <a
            href="https://www.izettle.com/gb/privacy-policy"
            rel="nofollow noreferrer noopener"
            target="_blank"
            >https://www.izettle.com/gb/privacy-policy</a
          >
        </li>
      </ul>

      <p>
        I understand that by signing this consent form, Power to Live Foundation
        Ltd is authorised on my behalf to use my personal information for the
        purposes specified and I am free to withdraw my consent at any time.
      </p>
    </div>
  </div>
</section>
