<section id="therapists" class="therapists">
  <div class="container flex">
    <div class="left-block">
      <img src="images/therapists-img.png" alt="Therapists Image" />
    </div>

    <div class="right-block">
      <h1>Therapists</h1>
      <p>
        We want volunteer therapists with a background in counseling to join
        Power to Live.
      </p>

      <p>
        We believe in practicing what we preach. We want our therapists to be
        willing to strive for awareness, courage and love in their lives even in
        adversity, so we can guide our clients to have the same skills.
      </p>

      <p>
        Power to Live aims to build compassionate communities, so we want to
        offer a community for our therapists too, to access peer supervision and
        support, as well as social events.
      </p>

      <strong
        >We want our volunteer therapists to thrive within our community and to
        have the opportunity to join our clinical team and as our charity grows,
        to become future leaders of more Power to Live projects.</strong
      >

      <a href="training.html" class="btn">Read More</a>
    </div>
  </div>
</section>
