<section class="banner training-banner">
  <div class="container flex">
    <div class="banner-left left-block"></div>

    <div class="banner-right right-block">
      <h1>Training</h1>
      <p>
        Power to Live training is positively life changing for the therapist; in
        the same way we want our treatment to be positively life changing for
        the client.
      </p>

      <p>
        We run workshops in CBT, ACT and FAP skills with special emphasis on
        in-session therapeutic processes. Our training is hands-on experiential,
        so be prepared to dive deep.
      </p>

      <p>
        Our 12-weeks training is emotionally intense and rigorous, and will suit
        volunteers who are eager to learn, and most importantly be courageously
        self-reflective and compassionate.
      </p>

      <p>
        We welcome therapists and counsellors from all theoretical orientations
        as long as you are open to learning behavioural skills to enhance your
        therapy. Power to Live is committed to creating an inclusive community
        for our therapists.
      </p>

      <a href="#diversity-popup" class="btn border-btn diversity_terms"
        >Diversity And Inclusion Statement</a
      >
    </div>
  </div>
</section>
