<section class="container">
  <p>&nbsp;</p>

  <h1>Ms Tien Kuei</h1>
  <h2>Co-Founder and CEO</h2>
  <p>
    Tien specialises in ‘3rd wave’ CBT, which focuses on compassionate yet precise behavioural focused treatments. Her core competence lies in Acceptance & Commitment therapy (ACT) and Functional Analytic Psychotherapy (FAP). She is a key contributor to the clinical development of FAP as well as presenting training workshops for clinicians worldwide.
  </p>
  <p>
    Tien has worked in both the primary care sector and with the Priory Hospital, providing care to adults with a variety of mental health and life issues. She is currently researching the behavioural components of effective therapeutic relationships to foster change. She has worked as a research therapist for UCH/UCL in an ACT based RCT for terminal cancer patients.
  </p>
  <p>
    Tien experienced her first charity work at Commit and ACT (commitandact.com), an organisation offering ACT training to health workers in Sierra Leone. After visiting the country and seeing how effective behavioural treatments can translate across cultures in order to strengthen communities, she wanted to provide cutting-edge evidence-based CBT treatments to people in the UK. By offering training to Power to Live psychotherapists, she helps them to provide behavioural treatments to the charity's clients, as well as creating communities to support change.
  </p>
  <p>&nbsp;</p>

  <h1>Mr George Panayiotou</h1>
  <h2>Co-Founder and Director of Fundraising</h2>
  <p>
    George grew up with a mother who suffered from mental illness. It was something he hid for a long time as it was always frowned upon by those around him. Although he long felt embarrassed by it, today it is the main reason he wants to help others with similar issues and offer them the support he wished his mother could have had.
  </p>
  <p>
    George is a property investor and developer across a variety of asset classes, including residential, hotel, commercial and leisure. With a long-term strategy in place to develop not only key businesses and new start-ups, George also wanted to create something meaningful through The Power to Live Foundation. This is something very close to his heart; he recognises the most powerful tool you have in life is your mind, hence the importance of learning how to control it in situations that can be challenging in business as well as personal situations.
  </p>
  <p>
    George is a key fund-raiser and donor, helping us to offer evidence-based psychotherapy to more people without the means to access them. He is also passionate about building supportive communities that can help people shape their mind-set which, in turn, will help them to live better lives.
  </p>
  <p>&nbsp;</p>

  <h1>Dr Ross white</h1>
  <h2>Trustee</h2>
  <p>
    Ross is the Research Director on the Doctorate of Clinical Psychology training programme at the University of Liverpool. He leads the ‘Mental Health in Context’ research group at the Institute of Psychology, Health and Society, University of Liverpool, which investigates how mental health is affected by dynamic interactions between people, places and spaces.
  </p>
  <p>
    Ross has a keen research interest in Global Mental Health. His Global Mental Health research interests include a focus on evaluating the efficacy of psychological interventions in low- and middle-income countries. This includes investigating processes involved in the linguistic/cultural adaptation of psychological interventions. He is also involved in research evaluating the acceptability, efficacy and cost-effectiveness of psychological interventions for refugees and asylum-seekers.
  </p>
  <p>
    Ross brings his wealth of knowledge of psychotherapy across cultures and training expertise in ACT to help shape our therapist training at Power to Live Foundation, so our treatment can be relevant to the diverse population we have in the UK.
  </p>
  <p>&nbsp;</p>

  <h1>Ms Jacqueline Thorne</h1>
  <h2>Operations Manager</h2>
  <p>&nbsp;</p>
</section>
