<section class="container training feedback">
  <h1>Feedback from Therapists</h1>
  <h2>Sanchita</h2>
  <dl>
    <dt>What you’ve gained from volunteering with us:</dt>
    <dd>
      I have learnt that Power to Live is first and foremost about the people. I
      have witnessed first-hand how the charity prioritises the well-being of
      not only of its clients but also its staff and volunteers, going so far as
      to take on a personal interest in our lives and well-being. The compassion
      and love I have felt in the year I have been a part of Power to Live has
      been truly life-changing. I am a better person because of it. It has been
      an enriching experience to be a part of Power to Live, and I will forever
      be grateful to Tien and Jacqui for providing this space for me to learn
      and grow.
    </dd>
    <dt>Training:</dt>
    <dd>
      The training we received/continue to receive has unequivocally changed the
      way I not only practice in my profession, but also how I function in daily
      life. The breadth and depth of knowledge I have received and continue to
      receive is tremendous. Tien is not only eloquent and well-versed in the
      subject matter; she is also honest to a fault and creates perhaps the most
      conducive learning environment I have been a part of. From the get-go, the
      training has been a safe space for me to reflect on, explore, and
      experiment with both myself and the profession. The feedback loop is
      constructive and intellectually stimulating, allowing effective reflection
      and facilitating learning. Proactivity and honesty are always encouraged
      and positively reinforced.
    </dd>
    <dt>Supervision:</dt>
    <dd>
      Group supervision continuous to be helpful in reflecting on my own
      practice as well as that of my peers. Peer feedback is immensely useful in
      providing perspective and creative solutions. Supervision is a place where
      I’m able to honestly express any qualms, struggles, or successes, knowing
      that I will receive plenty of validation, acknowledgement, and
      constructive feedback. Tien always makes time for individual supervision,
      even on weekends, to ensure our needs are met and we aren’t left flailing.
      She always makes me feel supported, and I know I can count on her to speak
      her mind as well as give me space to speak mine. She ensures that there is
      no hierarchy within the organisation, treating us all as equals, thereby
      motivating me to perform better. I am proud to consider her as my mentor.
    </dd>
    <dt>Organisation/admin:</dt>
    <dd>
      Jacqui is truly the linchpin that holds the entire organisation together.
      She works quietly and tirelessly in the background, making her presence
      known through gentle reminders and words of compassion. I truly appreciate
      how warm and kind Jacqui’s responses are, no matter what the subject of
      the email. She is always approachable and manages to keep us on track no
      matter how far we wander off. I wholeheartedly appreciate the effort
      Jacqui puts into organising and setting everything up so that it’s easily
      accessible to the rest of us. She always goes the extra mile to make
      everybody’s lives a little bit easier, and every little bit goes a long
      way.
    </dd>
    <dt>Rooms at Winkfield:</dt>
    <dd>
      The rooms are well lit and spacious. The only issue I have is that it
      opens out onto the street, and with the windows open, passers-by can
      listen in on conversations occurring inside. There have also been some
      instances of the caretaker being spotted outside the windows during
      sessions, and this is concerning when considering client confidentiality
      and anonymity. There have also been instances when said caretaker has
      asked clients about therapists, which is not appropriate. Besides these
      issues, the rooms are well equipped, with easy access to lockers, toilets,
      and the kitchen area.
    </dd>
    <dt>Working online with clients:</dt>
    <dd>
      I see most of my clients online for various reasons. Although there can be
      problems such as connectivity issues, it provides the convenience of
      working from home or anywhere else, flexibility around session timing,
      easy to record both audio and video, easy to share screen to complete
      forms or other material, and greater accessibility to those who can’t come
      to the Centre. I find working online to be a very beneficial option and
      hope it means we can reach out to people around the world.
    </dd>
    <dt>Case load:</dt>
    <dd>
      My current case load is very manageable. I appreciate that both Tien and
      Jacqui are very considerate when referring clients, to the degree where
      they mention concerns regarding a heavier case load and ask if we’re able
      to manage alright, going so far as to assign clients to other therapists
      if they believe we’ve taken on too many. I find the variety in the cases
      fascinating and challenging, making the case load exciting rather than
      cumbersome as it means more exposure to different presentations and the
      possibility to experiment with various interventions.
    </dd>
    <dt>Anything else you’d like to comment on:</dt>
    <dd>
      Power to Live is a charity I’m proud to be a part of, whose cause I
      wholeheartedly stand by and whose values strongly align with my own
      personal values. Everyone working in the organisation have incredible work
      ethic, which cultivates a productive and enriching work environment. Power
      to Live provides a unique space where both clients and staff can thrive
      while learn making meaningful connections within and amongst themselves. I
      hope I can continue to play a role in what will certainly be an incredible
      journey built on compassion and love. I look forward to a promising future
      in Power to Live.
    </dd>
  </dl>

  <h2>Diana</h2>
  <p>
    I really enjoyed the training I received, the time and effort to help us
    getting ready for the clients it was just amazing. Thank you for the
    continuous support and the opportunity to be part of such an amazing team.
  </p>

  <h2>Raeyan</h2>
  <p>
    Working at Power to Live is a deeply rewarding experience. I've received
    unwavering support from the team, admin and otherwise, and have always felt
    like my best interests are being looked after.
  </p>
  <p>
    The training at Power to Live has been life-enhancing. Each session with
    Tien is a masterclass from an expert practitioner in the field. Her acutely
    pragmatic yet deeply human approach is a recipe for success with clients.
    Tien's expansive knowledge of behaviourism and years of experience in the
    field makes her a powerhouse to be reckoned with. The training challenges
    all your foundations leaving you sharper and more focused. It enriches both
    your clinical practice and personal life.
  </p>
  <p>
    If you're not afraid of a challenge and are passionate about what you do,
    Power to Live is the place for you.
  </p>

  <h2>Max</h2>
  <p>
    Volunteering at P2L has been a great experience. I have learned a lot for
    the past year about the third wave of CBT. Through intensive training and
    regular supervision which was provided by P2L. Training provided theoretical
    and practical experience. This allowed me to grasp a better understanding of
    ACT and FAP psychotherapies/modalities. Practical exercises enabled me to
    experience what clients go through in the therapy room and master my
    knowledge and responses accordingly to deliver the best outcome for the
    client.
  </p>
  <p>
    Although this year wasn't an easy one due to COVID, everything was well
    organised, communicated and prepared for working online. The work ethic
    within the team is outstanding and support is always available. I am
    honoured to be part of the P2L family.
  </p>

  <h2>Kelsey</h2>
  <p>
    Working with Power to Live is the true embodiment of Courage, Awareness and
    Love. As a new CBT therapist, I can truly say I’d be lost without the
    opportunities P2L has afforded me. Training and supervision with Tien feels
    like a privilege; I’ve learned the latest and research-supported techniques
    and methods. Her support and knowledge helps me show up fully for my clients
    every session by giving me confidence. Since joining Power to Live, I’ve
    gained an education, valuable experience, personal growth and a group of
    fellow therapists I’m proud to call my family.
  </p>
  <p>
    With P2L, you’ll get an opportunity to work with a broad range of clients
    and work in a meaningful, bespoke way. Seeing clients both online and
    face-to-face has prepared me for the flexibility being a therapist requires.
    P2L is extremely organised, well-run, professional and sets each therapist
    up for success. Therapist well-being is always a priority and the caseload
    is manageable. The growth I’ve experienced while working at Power to Live
    isn’t just in the therapy room, but all throughout my life.
  </p>
</section>
