---
layout: default
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      name="description"
      content="Registered charity (1181997) delivering behaviour therapy (CBT, ACT, FAP) as well as social connection groups."
    />
    <meta name="keywords" content="" />
    <meta
      name="google-site-verification"
      content="7zqGIAnAFQpVjcx2suaNldPaWLigMyyI1Hn1k8GHZ_0"
    />
    <link rel="shortcut icon" type="image/png" href="images/favicon.png" />
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/fonts.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/mobile-nav.css" />
    <link rel="stylesheet" href="css/media.css" />
  </head>
  <body>
    <!---->
    {% include header.html %}
    <!---->
    {{ content }}
    <!---->
    {% include footer.html %}
    <!---->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
